//---- font family for all site --------
$font-family: 'ProximaNova';
//---colors-----
$main-site-color: #006900;
$site-elements-color: #70c849;

$btn-color: #f6ae00;
$btn-hover-color: #bd8c0d;

$btn-font-color: #fff;

$site-text-color-dark: #1a1820;
$site-text-color-white: #fff;
$text-color-main: #292929;